@font-face {
  font-family: lobster;
  src: url(../fonts/Lobster-Regular.ttf);
}
@font-face {
  font-family: ptsans;
  src: url(../fonts/PTSans-Regular.ttf);
}
body {
  background-color: #232323;
  font-family: "poppins", sans-serif;
  overflow-x: hidden;
}
/*  Fade In */
.element {
  animation: pulse 5s 1;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main {
  height: 100vh;
  background-image: linear-gradient(
      rgba(35, 35, 35, 0.9),
      rgba(35, 35, 35, 0.9)
    ),
    url(../img/texture.png);
  height: 100vh;
  background-size: cover;
  background-position: center center;
}
.banner {
  z-index: 100;
}
/*  Navbar  */
.navbar-brand {
  font-family: lobster;
  font-size: 30px;
  color: #759485;
}
.navset {
  margin-left: 52%;
}
nav div ul li {
  margin-left: 20%;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
  font-weight: 500;
}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #759485;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
.active a {
  font-weight: bold;
}
.bx-filter {
  font-size: 35px;
  color: white;
}
form {
  color: white;
}
.modal-title {
  font-weight: bold;
}
.modal-title .bx-user {
  font-size: 50px;
  font-weight: 100;
}
div .form-group input {
  color: white;
}
.loninbtn {
  margin-left: 30%;
}
.loninbtn a,
.loninbtn button {
  padding: 5px 20px;
}
.reset {
  margin-left: 5%;
}
.close {
  color: white;
}
/*  Text contents */
.text-box {
  color: #fff;
  line-height: 1;
}
.text-box .text1 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 10%;
}
.text-box .text2 {
  font-size: 120px;
  margin-left: -1%;
  color: transparent;
  -webkit-text-stroke: 1px #759485;
  font-weight: 600;
  background: url(../img/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.text-box .text3 {
  font-size: 32px;
  font-weight: 500;
}
.text-box a i {
  font-size: 24px;
  color: white;
}
.text-box .bxl-linkedin-square,
.text-box .bxl-github,
.text-box .bx-mail-send {
  margin-left: 10px;
  color: white;
}
.text-box .bx:hover {
  color: #759485;
  transition: all 0.5s;
}
img {
  width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
img:hover {
  filter: grayscale(0%);
  transition: all linear 2s;
  transform: scale(1.1);
}
.btn {
  background: transparent;
  border: 1px solid #759485;
  padding: 15px 18px;
}
.btn:hover {
  background-color: #759485;
  color: white;
  border: transparent;
}

/*  DASHBOARD */

/*  Responsive CSS */
@media (max-width: 2000px) {
  .img-sec {
    display: none;
  }
  .image-sec .br2 {
    display: none;
  }
}
@media (max-width: 1200px) {
  .navset {
    margin-left: 45%;
  }
  nav div ul li {
    margin-left: 17%;
  }
  nav.stroke ul li a:after,
  nav.fill ul li a:after {
    height: 0px;
  }
  .text-box .text1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10%;
  }
  .text-box .text2 {
    font-size: 90px;
    font-weight: 600;
  }

  .text-box .text3 {
    font-size: 25px;
    font-weight: 500;
  }
}
@media (max-width: 1000px) {
  .navset {
    margin-left: -20%;
  }
  .text-box .text1 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10%;
  }
  .text-box .text2 {
    font-size: 80px;
    font-weight: 600;
  }

  .text-box .text3 {
    font-size: 25px;
    font-weight: 400;
  }
  .image-sec {
    display: none;
  }
  .icons .bx {
    display: none;
  }
}
@media (max-width: 800px) {
  .text-content .row1 {
    display: none;
  }
  .row2 {
    background-color: red;
    margin-top: 1%;
  }
  .text-box .text1 {
    font-size: 20px;
  }
  .text-box .text2 {
    font-size: 80px;
    font-weight: 400;
  }

  .text-box .text3 {
    font-size: 16px;
  }
  .image-sec {
    display: none;
  }
  .box {
    width: 100%;
  }
  table {
    margin-left: -100px;
  }
}
@media (max-width: 500px) {
  .img-sec {
    display: inline;
  }
  .img-sec img {
    width: 60%;
    margin: 0 auto;
    height: 45vh;
    filter: grayscale(0%);
  }
  .text-box .text1 {
    font-size: 20px;
  }
  .text-box .br {
    display: none;
  }
  .text-box .br1 {
    display: inline;
  }
  .text-box .text2 {
    font-size: 50px;
    font-weight: 600;
  }
  .text-box .text3 {
    font-size: 16px;
  }
  .row2 {
    display: none;
  }
  .box {
    width: 100%;
    margin-left: -100%;
  }
  .box h2 {
    font-size: 20px;
  }
  .box form {
    width: 100%;
  }
}

.nav-row {
  color: #759485;
  text-align: center;
  padding: 20px 0px;
}
.nav-row span {
  font-size: 30px;
  font-family: lobster;
}
.icons .bx {
  font-size: 25px;
  padding: 10px 0px;
  margin-right: 60px;
}
.icons {
  margin-left: 100px;
}
.conternt-row {
  text-align: center;
}
.conternt-row #buttons button {
  margin: 10px 0px;
  border: transparent;
  color: #a9b4af;
  padding: 15px;
}
.conternt-row #buttons button:hover {
  color: white;
  font-weight: 400;
}
.box {
  float: left;
  color: black;
  width: 80%;
  text-align: center;
  display: none;
  margin-left: 10%;
}
.show {
  display: block;
}
.objects {
  width: 100%;
}
.lebel {
  color: black;
}
.box form {
  color: #759485;
}

.box div .form-group input {
  color: black;
}
.box .loninbtn {
  margin-left: 0%;
}
.box .loninbtn a,
.box .loninbtn button {
  padding: 5px 20px;
  color: teal;
}
.box .loninbtn a:hover,
.box .loninbtn button:hover {
  color: white;
}

.reset {
  margin-left: 5%;
}
.close {
  color: white;
}
